@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Prueba Tecnica para puesto de Desarrollador JR</h1>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="p">Nombre: William Eduardo Gómez Morales</div>
                    <div class="p">Email: wgomez@devinfwilliam.online</div>
                    <div class="p">Telefono: 3326-8038</div>
                    <div class="p">Puesto a aplicar: Puesto Desarrollador JR</div>
                </div>
            </div>
        </div>
    </div> 

    <div class="card">
        <div class="card-body">
            <a class="btn btn-info" asp-controller="Ventas" asp-action="Ejercicio">Ejercicio Prueba Tecnica</a>
        </div>
    </div>
</div>
